<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/contact.css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "ojPVzPAgUuSQzGO8C", 
      });
   })();
</script>
</head>
<body>
<nav>
        <div class="logo">LockIt</div>
        <div class="nav-links">
            <a href="/" class="login-btn" style="color: white;">Login</a>
            <a href="menu.html" class="contact-btn" style="background-color:white">Contact Us</a>
        </div>
    </nav>
    <!-- views/emergency.ejs -->
<form  action="/api/contact/store-contact" method="POST" >
    <label for="contact">Enter Emails:</label>
    <input type="email" id="contact" name="contact" required>
    <button type="submit">Submit</button>
</form>

<h1>Saved Contacts</h1>

  <% if (contacts && contacts.length > 0) { %>
    <ul>
      <% contacts.reverse().forEach(function(contact) { %>
        <li><%= contact.contact %></li> <!-- Displays each saved contact -->
      <% }); %>
    </ul>
  <% } else { %>
    <p>No contacts saved yet.</p>
  <% } %>
  
  <button id="sendNotification" onclick="showContacts()">Send Notification</button>
  
  <script>
  var prevFlag="0";
    const contacts = <%- JSON.stringify(contacts) %>;

    function showContacts(){
    console.log("function called");
    contacts.forEach(contact =>{ emailjs.send("service_zkf2s3o","template_hcqodqt",{email: contact.contact,}) });
    }
        
    async function fetchBuzzValue() {
            try {
                const response = await fetch('/api/sos'); // Fetch data from the endpoint
                if (!response.ok) { // Check if response is successful
                    throw new Error('Network response was not ok');
                }
                const data = await response.json(); // Parse the JSON response
                console.log(data.buzz);
                if(data.buzz){
                showContacts();
                }

            } catch (error) {
                console.error("Error fetching buzz value:", error);
            }
        }

 setInterval(fetchBuzzValue, 20000);

  </script>
</body>
</html>