<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/menu.css">
    <title>Document</title>
</head>
<body>
    <nav class="main-nav">
        <div class="logo">LockIt</div>
        <div class="nav-links">
            <a href="/" class="home-link">Home</a>
            <a href="#" class="contact-link" style="color: black;">Contact Us</a>
        </div>
    </nav>  
    
    <section class="features-grid">

        <a href="/api/cycle" class="feature-card">
          <div class="feature-image bg-unlock"></div>
          <div class="feature-gradient"></div>
          <div class="feature-blur"></div>
          <div class="feature-content">
             <h1>Unlock / Lock</h1>
          </div>
        </a>
          
        <a href="/api/contact" class="feature-card">
          <div class="feature-image bg-emergency2"></div>
          <div class="feature-gradient"></div>
          <div class="feature-blur"></div>
          <div class="feature-content">
             <h1>Emergency SOS</h1>
          </div>
        </a>

        <a href="/api/maps" class="feature-card">
            <div class="feature-image bg-livelocation"></div>
            <div class="feature-gradient"></div>
            <div class="feature-blur"></div>
            <div class="feature-content">
             <h1>Live Location</h1>
            </div>
        </a>
        
        <a href="/api/user/configurations" class="feature-card">
            <div class="feature-image bg-config3"></div>
            <div class="feature-gradient"></div>
            <div class="feature-blur"></div>
            <div class="feature-content">
             <h1>User History</h1>
            </div>
        </a>
    </section>
    
    <footer class="main-footer">
        <div class="footer-container">
          <div class="footer-content">
            <div class="footer-logo">
              <h2>LockIt</h2>
            </div>
            <div class="footer-links">
              <a href="#">About Us</a>
              <a href="#">Services</a>
              <a href="#">Contact</a>
              <a href="#">Privacy Policy</a>
            </div>
          </div>
          <div class="footer-copyright">
            <p>&copy; 2024 LockIt. All rights reserved.</p>
          </div>
        </div>
    </footer>
</body>
</html>