body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
nav {
    position:relative;
    /* bottom: 0.8rem; */
    padding-top: 0px;
    margin-top: 0px;
    min-width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-bottom: 0.75rem;
}

.logo {
    font-size: 3rem;
    text-shadow: 0 0 7px rgb(255 255 255 / 100%);
    font-weight: 500;
}

.nav-links {
    display: flex;
    gap: 1.25rem;
}

.nav-links a {
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2a2a2a;
    color: #ffffff;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#scontact{
    min-width: 100px;
    max-width: 70%;
}

h1 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

li {
    background-color: #1e1e1e;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(255,255,255,0.1);
    transition: transform 0.2s;
}

li:hover {
    transform: translateY(-2px);
}

#sendNotification {
    margin-top: 20px;
    background-color: #008CBA;
}

#sendNotification:hover {
    background-color: #007B9A;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    
    form, ul {
        width: 100%;
    }
}